// Icon.less
//
@import '../styles/mixins.less';
@import '../styles/variables.less';
@import '../styles/text.less';
@import '../styles/skin.less';

.icon {
	--font-family: @moon-icon-font-family;
	--font-size: @moon-icon-font-size;
	--font-size-large: @moon-icon-font-size-large;
	--margin: @moon-icon-margin;
	--size: @moon-icon-size;
	--size-large: @moon-icon-size-large;
	--small-font-size: @moon-icon-small-font-size;
	--small-font-size-large: @moon-icon-small-font-size-large;
	--small-size: @moon-icon-small-size;
	--small-size-large: @moon-icon-small-size-large;
	--sprite-size: @moon-icon-sprite-size;
	--sprite-small-size: @moon-icon-sprite-small-size;

	width: var(--size);
	height: var(--size);
	background-position-x: center;
	background-position-y: ~'calc(-1 * (var(--sprite-size) - var(--size)) / 2)';
	background-size: ~'var(--sprite-size) calc(var(--sprite-size) * 2)';
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin: var(--margin);
	font-family: var(--font-family);
	font-size: var(--font-size);
	font-weight: normal;
	line-height: var(--size);
	text-align: center;
	position: relative;

	.moon-custom-text({
		font-size: var(--font-size-large);
		width: var(--size-large);
		height: var(--size-large);
		line-height: var(--size-large);
	});

	.font-kerning(none);
	// .moon-taparea(var(--size));

	&.small {
		background-position-y: ~'calc(-1 * (var(--sprite-small-size) - var(--small-size)) / 2)';
		background-size: ~'var(--sprite-small-size) calc(var(--sprite-small-size) * 2)';
		width: var(--small-size);
		height: var(--small-size);
		font-size: var(--small-font-size);
		line-height: var(--small-size);

		.moon-custom-text({
			font-size: var(--small-font-size-large);
			width: var(--small-size-large);
			height: var(--small-size-large);
			line-height: var(--small-size-large);
		});
	}

	&.dingbat {
		font-family: "LG Display_Dingbat";
		font-size: var(--size);
		line-height: ~'calc(var(--size) - 8)';  // Slight vertical shift to account for a lower baseline

		&.small {
			font-size: var(--small-size);
			line-height: ~'calc(var(--small-size) - 4)';  // Slight vertical shift to account for a lower baseline
		}
	}

	.disabled({
		cursor: default;
	});

	// Skin colors
	.applySkins({
		color: inherit;
	});
}

.focus({
	.icon {
		background-position-y: ~'calc(-1 * (var(--sprite-size) + ((var(--sprite-size) - var(--size)) / 2)))';

		&.small {
			background-position-y: ~'calc(-1 * (var(--sprite-small-size) + ((var(--sprite-small-size) - var(--small-size)) / 2)))';
		}

		.applySkins({
			color: inherit;
		});
	}
}, parent);

.muted({
	.focus({
		.icon {
			background-position-y: ~'calc(-1 * ((var(--sprite-size) - var(--size)) / 2))';

			&.small {
				background-position-y: ~'calc(-1 * ((var(--sprite-small-size) - var(--small-size)) / 2))';
			}

			.applySkins({
				color: inherit;
			});
		}
	}, parent);
}, parent);
