// Icon.less
//

@import '../styles/mixins.less';

.icon {
	// Dimension Variables
	--margin: 4px;
	--size: 32px;
	--small-size: 24px;
	--sprite-size: 36px;
	--sprite-small-size: 27px;

	// Content Variables
	--font-family: 'Wingdings';
	--font-size: 64px;
	--small-font-size: 48px;
	
	// Dimension Rules
	display: inline-block;
	height: var(--size);
	margin: var(--margin);
	position: relative;
	width: var(--size);
	
	// Content Rules
	background-position-x: center;
	background-position-y: ~'calc(-1 * (var(--sprite-size) - var(--size)) / 2)';
	background-repeat: no-repeat;
	background-size: ~'var(--sprite-size) calc(var(--sprite-size) * 2)';
	font-family: var(--font-family);
	font-size: var(--font-size);
	font-weight: normal;
	line-height: var(--size);
	text-align: center;
	vertical-align: middle;

	&.small {
		height: var(--small-size);
		width: var(--small-size);

		background-position-y: ~'calc(-1 * (var(--sprite-small-size) - var(--small-size)) / 2)';
		background-size: ~'var(--sprite-small-size) calc(var(--sprite-small-size) * 2)';
		font-size: var(--small-font-size);
		line-height: var(--small-size);
	}

	.disabled({
		cursor: default;
	});
}
